pipeline/pl_adls_synapse_all_tables_incremental_seq2.json
{
	"name": "pl_adls_synapse_all_tables_incremental_seq2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ',pipeline().parameters.ctbl_schema,'.',pipeline().parameters.ctbl_name, ' where  trigger_segment = ''', pipeline().parameters.p_trigger_schedule,''' and start_run=''Y'' and load_type =''current'' and flow_sequence=2 and run_status =''N''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_synapse1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_adls_to_synapse_incremental_single_table",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_source_table": {
										"value": "@item().source_table",
										"type": "Expression"
									},
									"p_key_column": {
										"value": "@item().key_column",
										"type": "Expression"
									},
									"ctbl_schema": {
										"value": "@pipeline().parameters.ctbl_schema",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Stored procedure update run status true_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"load_type": {
										"value": "current",
										"type": "String"
									},
									"t_sequence": {
										"value": "2",
										"type": "String"
									},
									"t_source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseAnalytics1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure update run status false",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"load_type": {
										"value": "current",
										"type": "String"
									},
									"t_sequence": {
										"value": "2",
										"type": "String"
									},
									"t_source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseAnalytics1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_trigger_schedule": {
				"type": "string"
			},
			"ctbl_schema": {
				"type": "string"
			},
			"ctbl_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ingestion patterns Sql db to Synapse/Incremental"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-11T02:13:58Z"
	}
}