pipeline/pl_sqldb_adls_all_tables_history_seq1.json
{
	"name": "pl_sqldb_adls_all_tables_history_seq1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(item().partition_flag,'Y'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute Pipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_partition_sqldb_adls",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schemaname": {
													"value": "@toUpper(item().source_path)",
													"type": "Expression"
												},
												"tablename": {
													"value": "@toUpper(item().source_table)",
													"type": "Expression"
												},
												"cntrl_table_his_grp_column": {
													"value": "@item().his_grp_column",
													"type": "Expression"
												},
												"cntrl_table_qstring": {
													"value": "@item().qstring",
													"type": "Expression"
												},
												"folder": {
													"value": "@item().target_path",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().dest_table",
													"type": "Expression"
												},
												"watermark_where_cond": {
													"value": "@item().watermark_where_cond",
													"type": "Expression"
												},
												"container": {
													"value": "@item().container",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Stored procedure update run status true_copy1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Execute Pipeline1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"load_type": {
													"value": "history",
													"type": "String"
												},
												"t_sequence": {
													"value": "1",
													"type": "String"
												},
												"t_source_table": {
													"value": {
														"value": "@item().source_table",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSynapseAnalytics1",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Stored procedure update run status true_copy1_copy1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Execute Pipeline1",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"load_type": {
													"value": "history",
													"type": "String"
												},
												"t_sequence": {
													"value": "1",
													"type": "String"
												},
												"t_source_table": {
													"value": {
														"value": "@item().source_table",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSynapseAnalytics1",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false
										},
										"outputs": [
											{
												"referenceName": "ds_adls_parquet_any_file",
												"type": "DatasetReference",
												"parameters": {
													"ds_folder": {
														"value": "@item().target_path",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@concat(item().dest_table,'.parquet')",
														"type": "Expression"
													},
													"ds_container": {
														"value": "@item().container",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Stored procedure update run status true",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"load_type": {
													"value": "history",
													"type": "String"
												},
												"t_sequence": {
													"value": "1",
													"type": "String"
												},
												"t_source_table": {
													"value": {
														"value": "@item().source_table",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSynapseAnalytics1",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Stored procedure update run status false",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"load_type": {
													"value": "history",
													"type": "String"
												},
												"t_sequence": {
													"value": "1",
													"type": "String"
												},
												"t_source_table": {
													"value": {
														"value": "@item().source_table",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSynapseAnalytics1",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ctbl_schema": {
				"type": "string"
			},
			"ctbl_name": {
				"type": "string"
			},
			"trigger_segment": {
				"type": "string"
			},
			"p_load_type": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ingestion patterns Sql db to Synapse/History"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-11T03:59:49Z"
	}
}