aaaorgdfpvt/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aaaorgdfpvt"
		},
		"PostgreSql1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'PostgreSql1'"
		},
		"SQLDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLDatabase'"
		},
		"SqlServeronprem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServeronprem'"
		},
		"sqlserversecured_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlserversecured'"
		},
		"PostgreSql1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "10.0.0.5"
		},
		"PostgreSql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "demo"
		},
		"PostgreSql1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"AzureDataLakeStorageSecured_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fc0ba10d-1810-4599-a776-0f13abc38f28/resourceGroups/rg-analytics/providers/Microsoft.Storage/storageAccounts/dmtcstoragesecured"
		},
		"AzureDataLakeStorageSecured_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"Purview104_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fc0ba10d-1810-4599-a776-0f13abc38f28/resourceGroups/rg-analytics/providers/Microsoft.Purview/accounts/aaaorgpurview"
		},
		"Purview104_properties_groupId": {
			"type": "string",
			"defaultValue": "account"
		},
		"Purview104_blob_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/ae73da88-2bad-4a45-8627-0a137149dd32/resourceGroups/ingestion-storage-rg-eastus2-9/providers/Microsoft.Storage/storageAccounts/ingestioneus2wermhkf"
		},
		"Purview104_blob_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"Purview104_queue_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/ae73da88-2bad-4a45-8627-0a137149dd32/resourceGroups/ingestion-storage-rg-eastus2-9/providers/Microsoft.Storage/storageAccounts/ingestioneus2wermhkf"
		},
		"Purview104_queue_properties_groupId": {
			"type": "string",
			"defaultValue": "queue"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/reviews')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Reviews.csv",
						"fileSystem": "reviews"
					},
					"columnDelimiter": "\"",
					"rowDelimiter": "\r",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": null
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('PostgreSql1_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('PostgreSql1_properties_typeProperties_database')]",
					"username": "[parameters('PostgreSql1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PostgreSql1_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "vnetshir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SQLDatabase_connectionString')]"
				},
				"connectVia": {
					"referenceName": "vnetshir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServeronprem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServeronprem_connectionString')]"
				},
				"connectVia": {
					"referenceName": "vnetshir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlserversecured')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('sqlserversecured_connectionString')]"
				},
				"connectVia": {
					"referenceName": "vnetshir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureManagedRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureDataLakeStorageSecured')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureDataLakeStorageSecured_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureDataLakeStorageSecured_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/Purview104')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('Purview104_properties_privateLinkResourceId')]",
				"groupId": "[parameters('Purview104_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/Purview104_blob')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('Purview104_blob_properties_privateLinkResourceId')]",
				"groupId": "[parameters('Purview104_blob_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/Purview104_queue')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('Purview104_queue_properties_privateLinkResourceId')]",
				"groupId": "[parameters('Purview104_queue_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvinput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AIAzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Metrics.csv",
						"fileSystem": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Month ",
						"type": "String"
					},
					{
						"name": "Metric ",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AIAzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "input",
						"fileSystem": "csvfilesclean"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServeronprem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_schema": {
						"type": "string",
						"defaultValue": "Production"
					},
					"ds_tablename": {
						"type": "string",
						"defaultValue": "Product"
					}
				},
				"folder": {
					"name": "ingestion pattern datasets"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ds_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().ds_tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServeronprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_adls_synapse_current')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Ingestion pattern dataflows"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls_parquet_any_file131",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_synapse_anytable1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "AlterRow1"
						},
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tcols as string[]\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet') ~> source1\nDerivedColumn1 alterRow(upsertIf(true())) ~> AlterRow1\nsource1 derive(last_update_tmstp = currentUTC()) ~> DerivedColumn1\nAlterRow1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tsource_table as string,\n\t\tdest_table as string,\n\t\tsource_path as string,\n\t\ttarget_path as string,\n\t\tflow_sequence as string,\n\t\trun_status as string,\n\t\tqstring as string,\n\t\twatermark_col as string,\n\t\twatermark_val as string,\n\t\tkey_column as string,\n\t\tsource_name as string,\n\t\tload_type as string,\n\t\tstart_run as string,\n\t\tsource_id as string\n\t),\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:($cols),\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_adls_synapse_history')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Ingestion pattern dataflows"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls_parquet_any_file12",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_synapse_anytable",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tdf_schema as string,\n\tdf_table as string,\n\tds_folder as string,\n\tdf_watermark_col as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:[(concat($ds_folder,'/*.parquet'))]) ~> source1\nsource1 derive(last_update_tmstp = currentUTC()) ~> DerivedColumn1\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tsource_table as string,\n\t\tdest_table as string,\n\t\tsource_path as string,\n\t\ttarget_path as string,\n\t\tflow_sequence as string,\n\t\trun_status as string,\n\t\tqstring as string,\n\t\twatermark_col as string,\n\t\twatermark_val as string,\n\t\tkey_column as string,\n\t\tsource_name as string,\n\t\tload_type as string,\n\t\tstart_run as string,\n\t\tsource_id as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tpreSQLs:[(\" TRUNCATE TABLE {$df_schema}.{$df_table}\")],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleancsvdata')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "csvinput",
								"type": "DatasetReference"
							},
							"name": "csvinput"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							},
							"name": "CleanData"
						}
					],
					"transformations": [
						{
							"name": "CreateCleanData"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Month } as string,",
						"          {Metric } as string,",
						"          Type as string,",
						"          Value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> csvinput",
						"csvinput derive({Month } = toDate({Month },'MM/dd/yyyy'),",
						"          Value = toLong(Value,'#,###,###,###,###')) ~> CreateCleanData",
						"CreateCleanData derive(text = concat(concat(concat(concat(concat(concat(toString({Month }), \"|\"),{Metric }),\"|\"),Type),\"|\"),toString(Value))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['output.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     dateFormat:'yyyy/MM/dd',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          DateTime = {Month },",
						"          Metric = {Metric },",
						"          Type,",
						"          Value,",
						"          text",
						"     ),",
						"     partitionBy('hash', 1)) ~> CleanData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csvinput')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adls_synapse_all_tables_history_seq2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from ',pipeline().parameters.ctbl_schema,'.',pipeline().parameters.ctbl_name, ' where  trigger_segment= ''', pipeline().parameters.trigger_segment,''' and start_run=''Y'' and load_type =''', pipeline().parameters.p_load_type,''' and flow_sequence=2 and run_status =''N''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_synapse",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_adls_synapse_history",
											"type": "DataFlowReference",
											"parameters": {
												"df_schema": {
													"value": "'@{item().target_path}'",
													"type": "Expression"
												},
												"df_table": {
													"value": "'@{item().dest_table}'",
													"type": "Expression"
												},
												"ds_folder": {
													"value": "'@{item().source_path}'",
													"type": "Expression"
												},
												"df_watermark_col": {
													"value": "'@{item().watermark_col}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {
													"ds_folder": {
														"value": "@item().source_path",
														"type": "Expression"
													},
													"ds_filename": {
														"value": "@concat(item().source_table,'.parquet')",
														"type": "Expression"
													},
													"ds_container": {
														"value": "@item().container",
														"type": "Expression"
													}
												},
												"sink1": {
													"ds_schema": {
														"value": "@item().target_path",
														"type": "Expression"
													},
													"ds_table": {
														"value": "@item().dest_table",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {
											"linkedService": {
												"referenceName": "AzureDataLakeStorage1",
												"type": "LinkedServiceReference"
											},
											"folderPath": {
												"value": "@item().container",
												"type": "Expression"
											}
										},
										"compute": {
											"coreCount": 48,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Stored procedure update run status true",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Data flow1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"load_type": {
												"value": "history",
												"type": "String"
											},
											"t_sequence": {
												"value": "2",
												"type": "String"
											},
											"t_source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSynapseAnalytics1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored procedure update run status false",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Data flow1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"load_type": {
												"value": "history",
												"type": "String"
											},
											"t_sequence": {
												"value": "2",
												"type": "String"
											},
											"t_source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSynapseAnalytics1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Stored procedure update run status true",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@empty(item().watermark_col)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Lookup max of watermark column",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlDWSource",
														"sqlReaderQuery": {
															"value": "@concat('select max(',item().watermark_col,') wm_value from ',item().target_path,'.',item().dest_table)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_synapse",
														"type": "DatasetReference",
														"parameters": {}
													}
												}
											},
											{
												"name": "update watermark in history fs 2 record",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Lookup max of watermark column",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.sp_update_wm_val')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"flow_sequence": {
															"value": "2",
															"type": "Int32"
														},
														"last_updt_date": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"load_type": {
															"value": "history",
															"type": "String"
														},
														"source_name": {
															"value": {
																"value": "@item().source_name",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_table": {
															"value": {
																"value": "@item().dest_table",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermarkval": {
															"value": {
																"value": "@activity('Lookup max of watermark column').output.firstRow.wm_value",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseAnalytics1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP update watermark in current fs 1 record",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "update watermark in history fs 2 record",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.sp_update_wm_val')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"flow_sequence": {
															"value": "1",
															"type": "Int32"
														},
														"last_updt_date": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"load_type": {
															"value": "current",
															"type": "String"
														},
														"source_name": {
															"value": {
																"value": "@item().source_name",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_table": {
															"value": {
																"value": "@item().dest_table",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermarkval": {
															"value": {
																"value": "@activity('Lookup max of watermark column').output.firstRow.wm_value",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseAnalytics1",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ctbl_schema": {
						"type": "string"
					},
					"ctbl_name": {
						"type": "string"
					},
					"trigger_segment": {
						"type": "string"
					},
					"p_load_type": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/History"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T03:50:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_adls_synapse_history')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adls_to_synapse_incremental_single_table')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"ds_schema": "Production",
									"ds_tablename": "Product"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('prev_upsert'),'Y')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Data flow1",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "1.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "df_adls_synapse_current",
														"type": "DataFlowReference",
														"parameters": {
															"cols": {
																"value": "@pipeline().parameters.p_key_column",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"source1": {
																"ds_folder": {
																	"value": "@item().folder_path",
																	"type": "Expression"
																},
																"ds_filename": {
																	"value": "@item().filename",
																	"type": "Expression"
																},
																"ds_container": {
																	"value": "@item().container",
																	"type": "Expression"
																}
															},
															"sink1": {
																"ds_schema": {
																	"value": "@item().schema_name",
																	"type": "Expression"
																},
																"ds_table": {
																	"value": "@item().tablename",
																	"type": "Expression"
																}
															}
														}
													},
													"staging": {
														"linkedService": {
															"referenceName": "AzureDataLakeStorage1",
															"type": "LinkedServiceReference"
														},
														"folderPath": {
															"value": "@concat(item().container,'/tmp')",
															"type": "Expression"
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											},
											{
												"name": "Stored procedure1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Data flow1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.sp_update_adls_load_hist')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"filename": {
															"value": {
																"value": "@item().filename",
																"type": "Expression"
															},
															"type": "String"
														},
														"folderpath": {
															"value": {
																"value": "@item().folder_path",
																"type": "Expression"
															},
															"type": "String"
														},
														"processed": {
															"value": "Y",
															"type": "String"
														},
														"processed_date": {
															"value": {
																"value": "@substring(utcnow(),0,19)",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"schemaname": {
															"value": {
																"value": "@item().schema_name",
																"type": "Expression"
															},
															"type": "String"
														},
														"tablename": {
															"value": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseAnalytics1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Data flow1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "prev_upsert",
													"value": "N"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_source_table": {
						"type": "string"
					},
					"p_key_column": {
						"type": "array"
					},
					"ctbl_schema": {
						"type": "string"
					}
				},
				"variables": {
					"prev_upsert": {
						"type": "String",
						"defaultValue": "Y"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/Incremental"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T04:30:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/dataflows/df_adls_synapse_current')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_partition_sqldb_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 6,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_parquet_any_file",
											"type": "DatasetReference",
											"parameters": {
												"ds_folder": {
													"value": "@pipeline().parameters.folder",
													"type": "Expression"
												},
												"ds_filename": {
													"value": "@concat(pipeline().parameters.filename,'_',item().his_grp_column,'.parquet')",
													"type": "Expression"
												},
												"ds_container": {
													"value": "@pipeline().parameters.container",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					},
					"cntrl_table_his_grp_column": {
						"type": "string",
						"defaultValue": "CONCAT(EXTRACT(YEAR  FROM BLNG_DT), EXTRACT(MONTH FROM date))"
					},
					"cntrl_table_qstring": {
						"type": "string",
						"defaultValue": " select year(date) his_grp_column, COUNT(*) CNT from schema.tablename"
					},
					"folder": {
						"type": "string",
						"defaultValue": "tablename/raw/history"
					},
					"filename": {
						"type": "string",
						"defaultValue": "filename without extension"
					},
					"watermark_where_cond": {
						"type": "string",
						"defaultValue": "year(date) ='part_value'"
					},
					"container": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/History"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T03:58:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sqldb_adls_all_tables_incremental_seq1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"ds_schema": "@pipeline().parameters.ctbl_schema",
									"ds_tablename": "@pipeline().parameters.ctbl_name"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set watermark_end_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "Lookup2",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SqlServerTable1",
											"type": "DatasetReference",
											"parameters": {
												"ds_schema": "Production",
												"ds_tablename": "Product"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Lookup2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(activity('Lookup2').output,'firstRow')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SqlServerTable1",
														"type": "DatasetReference",
														"parameters": {
															"ds_schema": "Production",
															"ds_tablename": "Product"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_parquet_any_file13",
														"type": "DatasetReference",
														"parameters": {
															"ds_folder": {
																"value": "@concat(item().target_path,'/', substring(variables('watermark_end_value'),0,4),'/', substring(variables('watermark_end_value'),5,2))",
																"type": "Expression"
															},
															"ds_filename": {
																"value": "@concat(item().dest_table,'_',replace(variables('watermark_end_value'),':','.'),'.parquet')",
																"type": "Expression"
															},
															"ds_container": {
																"value": "@item().container",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Get Metadata1",
												"type": "GetMetadata",
												"dependsOn": [
													{
														"activity": "Stored procedure update run status true",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "ds_adls_parquet_any_file13",
														"type": "DatasetReference",
														"parameters": {
															"ds_folder": {
																"value": "@concat(item().target_path,'/', substring(variables('watermark_end_value'),0,4),'/', substring(variables('watermark_end_value'),5,2))",
																"type": "Expression"
															},
															"ds_filename": {
																"value": "@concat(item().dest_table,'_',replace(variables('watermark_end_value'),':','.'),'.parquet')",
																"type": "Expression"
															},
															"ds_container": {
																"value": "@item().container",
																"type": "Expression"
															}
														}
													},
													"fieldList": [
														"lastModified"
													],
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "ParquetReadSettings"
													}
												}
											},
											{
												"name": "Stored procedure to update ADLS log",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Get Metadata1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.sp_Insert_adls_load_hist')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"filename": {
															"value": {
																"value": "@concat(item().dest_table,'_',replace(variables('watermark_end_value'),':','.'),'.parquet')",
																"type": "Expression"
															},
															"type": "String"
														},
														"folderpath": {
															"value": {
																"value": "@concat(item().target_path,'/', substring(utcnow(),0,4),'/', substring(utcnow(),5,2))",
																"type": "Expression"
															},
															"type": "String"
														},
														"lastmodified": {
															"value": {
																"value": "@activity('Get Metadata1').output.lastModified",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"processed": {
															"value": "N",
															"type": "String"
														},
														"recordcount": {
															"value": {
																"value": "@activity('Copy data1').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"schemaname": {
															"value": {
																"value": "@item().source_path",
																"type": "Expression"
															},
															"type": "String"
														},
														"tablename": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														},
														"wm_val": {
															"value": {
																"value": "@substring(variables('watermark_end_value'),0,19)",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseAnalytics1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Stored procedure update watermark",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Stored procedure to update ADLS log",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.sp_update_wm_val')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"flow_sequence": {
															"value": "1",
															"type": "Int32"
														},
														"last_updt_date": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"load_type": {
															"value": "current",
															"type": "String"
														},
														"source_name": {
															"value": {
																"value": "@item().source_name",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_table": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermarkval": {
															"value": {
																"value": "@substring(variables('watermark_end_value'),0,19)",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseAnalytics1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Stored procedure update run status true",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy data1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"load_type": {
															"value": "current",
															"type": "String"
														},
														"t_sequence": {
															"value": "1",
															"type": "String"
														},
														"t_source_table": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseAnalytics1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Stored procedure update run status false",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy data1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"load_type": {
															"value": "current",
															"type": "String"
														},
														"t_sequence": {
															"value": "1",
															"type": "String"
														},
														"t_source_table": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSynapseAnalytics1",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "set_watermark_end_value",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "watermark_end_value",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set watermark_end_date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "set_watermark_end_value",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "watermark_end_val_wo_tz",
							"value": {
								"value": "@substring(replace(utcnow(),'T',' '),0,19)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_trigger_schedule": {
						"type": "string"
					},
					"ctbl_schema": {
						"type": "string"
					},
					"ctbl_name": {
						"type": "string"
					}
				},
				"variables": {
					"watermark_end_value": {
						"type": "String"
					},
					"comma": {
						"type": "String",
						"defaultValue": ","
					},
					"watermark_end_val_wo_tz": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/Incremental"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T04:04:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		}
	]
}