aaaorgdfpvt/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aaaorgdfpvt"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IngestMetricsData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "cleancsvdata",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"csvinput": {},
									"CleanData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_adls_synapse_all_tables_incremental_seq2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from ',pipeline().parameters.ctbl_schema,'.',pipeline().parameters.ctbl_name, ' where  trigger_segment = ''', pipeline().parameters.p_trigger_schedule,''' and start_run=''Y'' and load_type =''current'' and flow_sequence=2 and run_status =''N''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_synapse1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 5,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_adls_to_synapse_incremental_single_table",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_source_table": {
												"value": "@item().source_table",
												"type": "Expression"
											},
											"p_key_column": {
												"value": "@item().key_column",
												"type": "Expression"
											},
											"ctbl_schema": {
												"value": "@pipeline().parameters.ctbl_schema",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Stored procedure update run status true_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Pipeline1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"load_type": {
												"value": "current",
												"type": "String"
											},
											"t_sequence": {
												"value": "2",
												"type": "String"
											},
											"t_source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSynapseAnalytics1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored procedure update run status false",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Pipeline1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"load_type": {
												"value": "current",
												"type": "String"
											},
											"t_sequence": {
												"value": "2",
												"type": "String"
											},
											"t_source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSynapseAnalytics1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_trigger_schedule": {
						"type": "string"
					},
					"ctbl_schema": {
						"type": "string"
					},
					"ctbl_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/Incremental"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T02:13:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sqldb_adls_all_tables_history_seq1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"ds_schema": {
										"value": "@pipeline().parameters.ctbl_schema",
										"type": "Expression"
									},
									"ds_tablename": {
										"value": "@pipeline().parameters.ctbl_name",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(item().partition_flag,'Y'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Execute Pipeline1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_partition_sqldb_adls",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"schemaname": {
															"value": "@toUpper(item().source_path)",
															"type": "Expression"
														},
														"tablename": {
															"value": "@toUpper(item().source_table)",
															"type": "Expression"
														},
														"cntrl_table_his_grp_column": {
															"value": "@item().his_grp_column",
															"type": "Expression"
														},
														"cntrl_table_qstring": {
															"value": "@item().qstring",
															"type": "Expression"
														},
														"folder": {
															"value": "@item().target_path",
															"type": "Expression"
														},
														"filename": {
															"value": "@item().dest_table",
															"type": "Expression"
														},
														"watermark_where_cond": {
															"value": "@item().watermark_where_cond",
															"type": "Expression"
														},
														"container": {
															"value": "@item().container",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Stored procedure update run status true_copy1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute Pipeline1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"load_type": {
															"value": "history",
															"type": "String"
														},
														"t_sequence": {
															"value": "1",
															"type": "String"
														},
														"t_source_table": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServeronprem",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Stored procedure update run status true_copy1_copy1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute Pipeline1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"load_type": {
															"value": "history",
															"type": "String"
														},
														"t_sequence": {
															"value": "1",
															"type": "String"
														},
														"t_source_table": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServeronprem",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SqlServerTable1",
														"type": "DatasetReference",
														"parameters": {
															"ds_schema": "@item().source_path",
															"ds_tablename": "@item().source_table"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_parquet_any_file",
														"type": "DatasetReference",
														"parameters": {
															"ds_folder": {
																"value": "@item().target_path",
																"type": "Expression"
															},
															"ds_filename": {
																"value": "@concat(item().dest_table,'.parquet')",
																"type": "Expression"
															},
															"ds_container": {
																"value": "@item().container",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Stored procedure update run status true",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy data1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_true')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"load_type": {
															"value": "history",
															"type": "String"
														},
														"t_sequence": {
															"value": "1",
															"type": "String"
														},
														"t_source_table": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServeronprem",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Stored procedure update run status false",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy data1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@concat(pipeline().parameters.ctbl_schema,'.upd_run_status_false')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"load_type": {
															"value": "history",
															"type": "String"
														},
														"t_sequence": {
															"value": "1",
															"type": "String"
														},
														"t_source_table": {
															"value": {
																"value": "@item().source_table",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServeronprem",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ctbl_schema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"ctbl_name": {
						"type": "string",
						"defaultValue": "control_table"
					},
					"trigger_segment": {
						"type": "string"
					},
					"p_load_type": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/History"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T03:59:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_end_to_end_history_sqldb_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute sql db to ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_sqldb_adls_all_tables_history_seq1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ctbl_schema": {
									"value": "@pipeline().parameters.ctbl_schema",
									"type": "Expression"
								},
								"ctbl_name": {
									"value": "@pipeline().parameters.ctbl_name",
									"type": "Expression"
								},
								"trigger_segment": {
									"value": "@pipeline().parameters.trigger_segment",
									"type": "Expression"
								},
								"p_load_type": {
									"value": "@pipeline().parameters.p_load_type",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute ADLS to Synapse",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute sql db to ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_adls_synapse_all_tables_history_seq2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ctbl_schema": {
									"value": "@pipeline().parameters.ctbl_schema",
									"type": "Expression"
								},
								"ctbl_name": {
									"value": "@pipeline().parameters.ctbl_name",
									"type": "Expression"
								},
								"trigger_segment": {
									"value": "@pipeline().parameters.trigger_segment",
									"type": "Expression"
								},
								"p_load_type": {
									"value": "@pipeline().parameters.p_load_type",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ctbl_schema": {
						"type": "string"
					},
					"ctbl_name": {
						"type": "string"
					},
					"trigger_segment": {
						"type": "string"
					},
					"p_load_type": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/History"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T02:04:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_sqldb_adls_all_tables_history_seq1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_end_to_end_inc_sqldb_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute sql db to ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_sqldb_adls_all_tables_incremental_seq1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_trigger_schedule": {
									"value": "@pipeline().parameters.p_trigger_schedule",
									"type": "Expression"
								},
								"ctbl_schema": {
									"value": "@pipeline().parameters.ctbl_schema",
									"type": "Expression"
								},
								"ctbl_name": {
									"value": "@pipeline().parameters.ctbl_name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute ADLS to Synapse",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute sql db to ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_adls_synapse_all_tables_incremental_seq2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_trigger_schedule": {
									"value": "@pipeline().parameters.p_trigger_schedule",
									"type": "Expression"
								},
								"ctbl_schema": {
									"value": "@pipeline().parameters.ctbl_schema",
									"type": "Expression"
								},
								"ctbl_name": {
									"value": "@pipeline().parameters.ctbl_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_trigger_schedule": {
						"type": "string"
					},
					"ctbl_schema": {
						"type": "string"
					},
					"ctbl_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Ingestion patterns Sql db to Synapse/Incremental"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T02:11:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_adls_synapse_all_tables_incremental_seq2')]"
			]
		}
	]
}